source/wf_02_etl_intraday_eod.json
{
  "name": "IDX - 02 ETL Intraday 5m \u2192 Daily [v1.116.2]",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "hour": 16,
            "minute": 35
          }
        ],
        "timezone": "Asia/Jakarta"
      },
      "id": "Schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT symbol FROM dim_symbol ORDER BY symbol;"
      },
      "id": "PG_GetSymbols",
      "name": "PG_GetSymbols",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        450,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CREDENTIAL_ID",
          "name": "Postgres (IDX)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst API_TOKEN = $env.EODHD_API_TOKEN;\nconst to = new Date().toISOString().slice(0,10);\nconst out = [];\nfor (const it of items[0].json){\n  const s = it.symbol;\n  out.push({json:{symbol:s, url:`https://eodhd.com/api/intraday/${s}.JK?interval=5m&from=${to}&to=${to}&fmt=json&api_token=${API_TOKEN}`}});\n}\nreturn out;\n"
      },
      "id": "Fn_URLs",
      "name": "Fn_URLs",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        750,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "GET",
        "url": "={{$json.url}}",
        "sendBinaryData": false,
        "jsonParameters": false
      },
      "id": "HTTP_Intra",
      "name": "HTTP_Intra",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst bars = items[0].json;\nif (!Array.isArray(bars) || bars.length===0) return [];\nconst o = bars[0].open, c = bars[bars.length-1].close;\nlet h=-Infinity, l=Infinity, v=0;\nfor (const b of bars){ if (b.high>h) h=b.high; if (b.low<l) l=b.low; v+=Number(b.volume||0); }\nconst date = new Date().toISOString().slice(0,10);\nreturn [{json:{symbol:$item(0).$node['Fn_URLs'].json.symbol, date, open:o, high:h, low:l, close:c, volume:v}}];\n"
      },
      "id": "Fn_Rollup",
      "name": "Fn_Rollup",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1300,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nINSERT INTO fact_daily_ohlcv(symbol,date,open,high,low,close,volume)\nVALUES (:symbol,:date,:open,:high,:low,:close,:volume)\nON CONFLICT(symbol,date) DO UPDATE SET open=EXCLUDED.open, high=EXCLUDED.high, low=EXCLUDED.low, close=EXCLUDED.close, volume=EXCLUDED.volume;\n"
      },
      "id": "PG_UpsertDaily",
      "name": "PG_UpsertDaily",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1600,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CREDENTIAL_ID",
          "name": "Postgres (IDX)"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        {
          "node": "PG_GetSymbols",
          "type": "main",
          "index": 0
        }
      ]
    },
    "PG_GetSymbols": {
      "main": [
        {
          "node": "Fn_URLs",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Fn_URLs": {
      "main": [
        {
          "node": "HTTP_Intra",
          "type": "main",
          "index": 0
        }
      ]
    },
    "HTTP_Intra": {
      "main": [
        {
          "node": "Fn_Rollup",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Fn_Rollup": {
      "main": [
        {
          "node": "PG_UpsertDaily",
          "type": "main",
          "index": 0
        }
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "meta": {
    "instanceId": "template",
    "exportedAt": "2025-10-26T07:27:57.108316Z"
  }
}
