source/wf_07_ingest_jkse_daily.json
{
  "name": "IDX - 07 Ingest ^JKSE Daily [v1.116.2]",
  "nodes": [
    {
      "parameters": {
        "triggerTimes": [
          {
            "hour": 16,
            "minute": 40
          }
        ],
        "timezone": "Asia/Jakarta"
      },
      "id": "Schedule",
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT COALESCE(MAX(date),'2000-01-01') AS last_date FROM fact_daily_ohlcv WHERE symbol='^JKSE';"
      },
      "id": "PG_Last",
      "name": "PG_Last",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        450,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CREDENTIAL_ID",
          "name": "Postgres (IDX)"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst API_TOKEN = $env.EODHD_API_TOKEN;\nconst last = new Date(items[0].json.last_date || '2000-01-01');\nconst from = new Date(last.getTime() + 24*3600*1000).toISOString().slice(0,10);\nconst to = new Date().toISOString().slice(0,10);\nreturn [{ json: { url: `https://eodhd.com/api/eod/%5EJKSE?from=${from}&to=${to}&fmt=json&api_token=${API_TOKEN}` } }];\n"
      },
      "id": "Fn_URL",
      "name": "Fn_URL",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        700,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "none",
        "requestMethod": "GET",
        "url": "={{$json.url}}",
        "sendBinaryData": false,
        "jsonParameters": false
      },
      "id": "HTTP_EOD",
      "name": "HTTP_EOD",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        950,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst arr = items[0].json; if (!Array.isArray(arr) || !arr.length) return [];\nreturn arr.map(d => ({ json: { symbol:'^JKSE', date: d.date||d.Date, open:d.open,high:d.high,low:d.low,close:d.close,volume:d.volume } }));\n"
      },
      "id": "Fn_Map",
      "name": "Fn_Map",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1200,
        200
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "\nINSERT INTO fact_daily_ohlcv(symbol,date,open,high,low,close,volume)\nVALUES (:symbol,:date,:open,:high,:low,:close,:volume)\nON CONFLICT(symbol,date) DO UPDATE SET open=EXCLUDED.open,high=EXCLUDED.high,low=EXCLUDED.low,close=EXCLUDED.close,volume=EXCLUDED.volume;\n"
      },
      "id": "PG_Upsert",
      "name": "PG_Upsert",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        1500,
        200
      ],
      "credentials": {
        "postgres": {
          "id": "PG_CREDENTIAL_ID",
          "name": "Postgres (IDX)"
        }
      }
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        {
          "node": "PG_Last",
          "type": "main",
          "index": 0
        }
      ]
    },
    "PG_Last": {
      "main": [
        {
          "node": "Fn_URL",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Fn_URL": {
      "main": [
        {
          "node": "HTTP_EOD",
          "type": "main",
          "index": 0
        }
      ]
    },
    "HTTP_EOD": {
      "main": [
        {
          "node": "Fn_Map",
          "type": "main",
          "index": 0
        }
      ]
    },
    "Fn_Map": {
      "main": [
        {
          "node": "PG_Upsert",
          "type": "main",
          "index": 0
        }
      ]
    }
  },
  "active": false,
  "settings": {},
  "staticData": null,
  "meta": {
    "instanceId": "template",
    "exportedAt": "2025-10-26T07:27:57.109900Z"
  }
}
